body {
  font: 14px Helvetica, sans-serif;
}

.bg {
  fill: #E5E5F5;
}

.piebg {
  /*fill: #A5A5B5;*/
  fill: white;
}

.pieDivider {
  stroke: #A5A5B5;
  stroke-width: 3;
}

.clearFiltersLine {
  pointer-events: none;
  stroke-width: 3;
}

.arc {
  stroke: #C5C5D5;
  stroke-width: 1;
}

.arc:hover {
  stroke: white;
  stroke-width: 3;
}

.outerArc {
  stroke: #C5C5D5;
  stroke-width: 1;
}

/*******************
    d3-tip style
********************/

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  pointer-events: none;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
